<p class="text-center">Войдите для работы</p>
<form [formGroup]="loginForm">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Введите ваш email"
      formControlName="email"
      [ngClass]="loginForm.controls.email.invalid && loginForm.controls.email.touched ? 'is-invalid' : ''"
    >
    <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" class="invalid-feedback">
      {{emailErrorMessages()}}
    </div>
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Пароль"
      formControlName="password"
      [ngClass]="loginForm.controls.password.invalid && loginForm.controls.password.touched ? 'is-invalid' : ''"
    >
    <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched" class="invalid-feedback">
      {{passwordErrorMessages()}}
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary" [disabled]="!loginForm.valid">Войти</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-center">
      Нет аккаунта?
      <a routerLink="/registration">Зарегистрироваться!</a>
    </p>
  </div>
</form>
