<p class="text-center">Войдите для работы</p>
<div *ngIf="loginMessage && loginMessage.text" class="alert alert-{{loginMessage.type}}">{{loginMessage.text}}</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Введите ваш email"
                formControlName="email"
                [ngClass]="loginForm.controls.email.invalid && loginForm.controls.email.touched ? 'is-invalid' : ''"
        >
        <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" class="invalid-feedback">
            {{this.loginForm.controls.email.hasError('email')
            ? 'Введите корректный email.' : this.loginForm.controls.email.hasError('required')
                ? 'Email не может быть пустым.' : ''}}
        </div>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Пароль"
                formControlName="password"
                [ngClass]="loginForm.controls.password.invalid && loginForm.controls.password.touched ? 'is-invalid' : ''"
        >
        <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched"
             class="invalid-feedback">
            {{this.loginForm.controls.password.hasError('minlength')
            ? 'Пароль должен быть больше 6 символов. Сейчас ' + this.loginForm.controls.password.value.length + '.'
            : this.loginForm.controls.password.hasError('required') ? 'Пароль не может быть пустым.' : ''}}
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary" [disabled]="!loginForm.valid">Войти</button>
    </div>
    <div class="form-group">
        <p class="text-muted text-center">
            Нет аккаунта?
            <a routerLink="/registration">Зарегистрироваться!</a>
        </p>
    </div>
</form>
