.header {
    background-color: #d7dde4;
    height: 70px;
    position: absolute;
    left: 230px;
    right: 0;
    display: flex;
    align-items: center;
}

.header .header-block-search {
    padding-left: 50px;
}

.header .header-block-nav {
    margin-left: auto;
    white-space: nowrap;
}

.header .header-block {
    margin-right: 15px;
}

.header .header-block-nav ul {
    margin: 0;
}

.header .header-block-nav > ul > li {
    display: table-cell;
    position: relative;
}

.header .header-block-nav .profile-dropdown-menu {
    left: auto;
    right: 0;
    min-width: 180px;
    white-space: normal;
}

.open > .dropdown-menu {
    display: block;
}
